<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Prodotti" tabIcon="pizza"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Carrello" tabIcon="cart"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Chi siamo" tabIcon="information-circle"></ion-tab>
</ion-tabs>