<ion-header>
    <ion-navbar>
        <ion-title>{{topbar_heading}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <section class="hero">
        <div class="hero-text" padding>
            <h1 text-nowrap>{{hero_header}}</h1>
        </div>
    </section>
    <p>
        Scegli la piadina che preferisci, aggiungila al carrello e completa l'ordine fornendo i tuoi dati per la consegna.
    </p>
    <section padding>
        <ion-list>
            <ion-item *ngFor="let product of productList">
                <ion-avatar item-start>
                    <img src="../../assets/imgs/products/{{ product.prodprice }}">
                </ion-avatar>
                <h2>{{ product.prodname }}</h2>
                <h3>€ {{ product.prodprice }}</h3>
                <p>{{ product.proddesc }}</p>
                <button ion-button (click)="onAddProduct(product)"><ion-icon name="add-circle" item-end></ion-icon></button>
            </ion-item>
        </ion-list>
    </section>
</ion-content>