<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{topbar_heading}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label>Indirizzo</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>N" civico</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Città</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Telefono</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>

    </ion-list>

    <div padding>
        <button block>Acquista</button>
    </div>

    <p *ngIf="cart.rows.length === 0">Carrello vuoto</p>
    <ion-list>
        <ion-item *ngFor="let row of cart.rows">
            {{ row.product.prodname }} - {{ row.qty }}
        </ion-item>
    </ion-list>
    <p>Totale: € {{ cart.total }}</p>

</ion-content>